
<section  id="home" >
    <!--main content-->
    <section class="row" id="intros"  >
        <div class="col-xl-6 col-12 col-sm-12 	col-md-12 .col-lg-6" style=" float: left;" id="textcont">
            <h2 style=" text-transform: capitalize !important; ">Hello It's <span style="color: rgb(58, 176, 255);-webkit-text-stroke: 1% white; text-transform: capitalize;">Sangara Naarayanan R,</span> </h2>
            <p data-aos="fade-right" data-aos-duration="1000">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  A self taught programmer who is currently skilled in <strong>Full Stack Web development </strong>. An Inquisitive person who always has interest in learning and developing new skills and technologies in every phase of my journey and Thereby adding value to the dynamics of the company. 
            </p>
            <div class="contact" data-aos="fade-right" data-aos-duration="1000" >
            <a [attr.href]="linkdin" class="contact1" target="_blank"> Contact Me  <fa-icon class="msg" [icon]="msg"></fa-icon></a>
            </div>
            <div class="social" style="display: table-cell; float: left;" data-aos="fade-right" data-aos-duration="1000" >
            <a [attr.href]="instagram" class="view" target="_blank"><fa-icon [icon]="insta"></fa-icon></a>
            <a [attr.href]="facebook" class="view" target="_blank"><fa-icon [icon]="fb"></fa-icon></a>
            <a [attr.href]="linkdin" class="view" target="_blank"><fa-icon [icon]="lk"></fa-icon></a>
            <a  [attr.href]="discordlnk" class="view" target="_blank"><fa-icon [icon]="discord"></fa-icon></a>
          
            </div>
    
    
            
        </div>
        <div class="col-xl-6 col-12 col-sm-12 	col-md-12 .col-lg-6" id="c2" >
            <ngb-carousel #carousel [interval]="4000"   >
                <ng-template ngbSlide >
                  <div class="picsum-img-wrapper" >
                    <img  class="imgs"src="assets/carouselpics/1.jpg" alt="Random first slide" class="imgs">
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/carouselpics/2.jpg" alt="Random second slide" >
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img  class="imgs" src="../../assets/carouselpics/3.jpg" alt="Random third slide" >
                  </div>
                </ng-template>
              </ngb-carousel>
        </div>
        <div><hr class="solid"></div>
        
        </section>
       
       
    </section>
  
    